
/* 1. Mobile */
@media (max-width: 767px) {
    .para {display: none;}
    body {
        display: grid;
        grid-template-rows: auto auto auto;
        background-color: rgb(255, 0, 191);
        padding: 10px 10px;
        border-width: 10px;
        border-color: rgb(253, 203, 3);
        border-style: double;
        margin: 10px 10px ;
        }
    
    
    .header{
        background-color:rgb(255, 0, 191);;
        color:black;
        font-size: xx-large;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: oblique;
        padding: 10px 10px;
        border-width: 5px;
        border-color: rgb(0, 26, 255);
        border-style: solid;
        margin: 8px 8px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .header:hover {
        font-size:xx-large;
        color: lightgreen;
    }
    
        
        
            
        
    
    .content1{
        background-color:rgb(255, 0, 191);
        color:black;
        padding: 5px 10px;
        border-width: 5px;
        border-color: blue;
        border-style: solid;
        margin: 10px 10px;
        display: grid;
        grid-template-columns: auto auto; 
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
        
    }
    
    .content1:hover{
        font-size: large;
        color:lightgreen;
    }
      
    
    .content12{
        background-color: rgb(255, 0, 191);
        color: black;
        padding: 5px 10px;
        border-width: 5px;
        border-color: blue;
        border-style: solid;
        margin: 10px 10px;
        display: grid;
        grid-template-columns: auto auto; 
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
    }
    
    .content12:hover{
        font-size: large;
        color: lightgreen;
    }
    
    .content13{
        background-color: rgb(255, 0, 191);
        color: black;
        padding: 5px 10px;
        border-width: 5px;
        border-color: blue;
        border-style: solid;
        margin: 10px 10px;
        display: grid;
        grid-template-columns: auto auto; 
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
    }
    
    .content13:hover {
        font-size: large;
        color: lightgreen;
    }
     
    
    
    
    .content2 {
        background-color:rgb(255, 0, 191);
        padding: 10px 10px;
        border-width: 5px;
        border-color: blue;
        border-style: solid;
        margin: 10px 10px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .content2:hover {
        font-size: large;
        color: lightgreen;
    }
    
    
    
    .article1 {
        
        display: grid;
        grid-template-columns: auto auto;
        background-color:rgb(255, 0, 191);
        color: black;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    
        
            .article1:hover {
            font-size: large;
            color: lightgreen;
        }
    
    
    .article2 {
        display: grid;
        grid-template-columns: auto auto;
        background-color: rgb(255, 0, 191);
        color: black;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
    }
    
    .article2:hover {
        font-size: large;
        color: lightgreen;
    }
    
    
    
    .footer{
         background-color: darkorange;
        padding: 5px 5px;
        border-width: 5px;
        border-style: solid;
        margin: 5px 5px;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .medialinks {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    
    .contact {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
    }
    
    
    .info {
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
    }
    
    footer:hover {
        font-size: large;
        color: lightgreen;
    }
}













/* 2. Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    body {
        display: grid;
        grid-template-rows: auto auto auto;
        background-color: rgb(0, 0, 0);
        padding: 10px 10px;
        border-width: 10px;
        border-color:red;
        border-style: double;
        margin: 10px 10px ;
        }
    
    
    .header{
        background-color: rgb(23, 10, 201);
        color: rgb(250, 214, 11);
        font-size: xx-large;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: oblique;
        padding: 10px 10px;
        border-width: 10px;
        border-color: aqua;
        border-style: solid;
        margin: 8px 8px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .header:hover {
        font-size:xx-large;
        color: black;
    }
    
        
        
            
        
    
    .content1{
        background-color: rgb(23, 10, 201);
        color: rgb(250, 214, 11);
        padding: 5px 10px;
        border-width: 5px;
        border-color: aqua;
        border-style: solid;
        margin: 10px 10px;
        display: grid;
        grid-template-columns: auto auto; 
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
    }
    
    .content1:hover{
        font-size: large;
        color:rgb(0, 0, 0);
    }
      
    
    .content12{
        background-color: rgb(23, 10, 201);
        color: rgb(250, 214, 11);
        padding: 5px 10px;
        border-width: 5px;
        border-color: aqua;
        border-style: solid;
        margin: 10px 10px;
        display: grid;
        grid-template-columns: auto auto; 
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
    }
    
    .content12:hover{
        font-size: large;
        color: rgb(0, 0, 0);
    }
    
    .content13{
        background-color: rgb(23, 10, 201);
        color: rgb(250, 214, 11);
        padding: 5px 10px;
        border-width: 5px;
        border-color: aqua;
        border-style: solid;
        margin: 10px 10px;
        display: grid;
        grid-template-columns: auto auto; 
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
    }
    
    .content13:hover {
        font-size: large;
        color:black;
    }
     
    
    
    
    .content2 {
        background-color: rgb(23, 10, 201);
        padding: 10px 10px;
        border-width: 7px;
        border-color: aqua;
        border-style: solid;
        margin: 10px 10px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .content2:hover {
        font-size: large;
        color: rgb(0, 0, 0);
    }
    
    
    
    .article1 {
        display: grid;
        grid-template-columns: auto auto;
        background-color: rgb(23, 10, 201);
        color: rgb(250, 214, 11);
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    
        
            .article1:hover {
            font-size: large;
            color: black;
        }
    
    
    .article2 {
        display: grid;
        grid-template-columns: auto auto;
        background-color: rgb(23, 10, 201);
        color: rgb(250, 214, 11);
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
    }
    
    .article2:hover {
        font-size: large;
        color: rgb(238, 144, 144);
    }
    
    
    
    .footer{
        background-color: darkorange;
        padding: 5px 5px;
        border-width: 10px;
        border-style: dotted;
        margin: 8px 8px;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .medialinks {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    
    .contact {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
    }
    
    
    .info {
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
    }
    
    footer:hover {
        font-size: large;
        color: lightgreen;
    }
}








/* 3. Desktop */
@media (min-width: 1024px) {
    body {
        display: grid;
        grid-template-rows: auto auto auto;
        background-color: blue;
        padding: 10px 10px;
        border-width: 10px;
        border-color: cornsilk;
        border-style: double;
        margin: 10px 10px ;
        }
    
    
    .header{
        background-color: rgb(0, 0, 0);
        color: crimson;
        font-size: xx-large;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: oblique;
        padding: 10px 10px;
        border-width: 10px;
        border-color: red;
        border-style: solid;
        margin: 8px 8px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .header:hover {
        font-size:xx-large;
        color: rgb(255, 255, 255);
    }
    
        
        
            
        
    
    .content1{
        background-color: rgb(0, 0, 0);
        color: crimson;
        padding: 5px 10px;
        border-width: 5px;
        border-color: red;
        border-style: solid;
        margin: 10px 10px;
        display: grid;
        grid-template-columns: auto auto; 
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
    }
    
    .content1:hover{
        font-size: large;
        color:rgb(255, 255, 255);
    }
      
    
    .content12{
        background-color: rgb(0, 0, 0);
        color: crimson;
        padding: 5px 10px;
        border-width: 5px;
        border-color: red;
        border-style: solid;
        margin: 10px 10px;
        display: grid;
        grid-template-columns: auto auto; 
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
    }
    
    .content12:hover{
        font-size: large;
        color: rgb(255, 255, 255);
    }
    
    .content13{
        background-color: rgb(0, 0, 0);
        color: crimson;
        padding: 5px 10px;
        border-width: 5px;
        border-color: red;
        border-style: solid;
        margin: 10px 10px;
        display: grid;
        grid-template-columns: auto auto; 
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
    }
    
    .content13:hover {
        font-size: large;
        color: rgb(255, 255, 255);
    }
     
    
    
    
    .content2 {
        background-color: black;
        padding: 10px 10px;
        border-width: 7px;
        border-color: red;
        border-style: solid;
        margin: 10px 10px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .content2:hover {
        font-size: large;
        color: rgb(255, 255, 255);
    }
    
    
    
    .article1 {
        display: grid;
        grid-template-columns: auto auto;
        background-color: rgb(0, 0, 0);
        color: crimson;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    
        
            .article1:hover {
            font-size: large;
            color: rgb(255, 255, 255);
        }
    
    
    .article2 {
        display: grid;
        grid-template-columns: auto auto;
        background-color: rgb(0, 0, 0);
        color: crimson;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
    }
    
    .article2:hover {
        font-size: large;
        color: rgb(255, 255, 255);
    }
    
    
    
    .footer{
        background-color: rgb(18, 214, 0);
        padding: 5px 5px;
        border-width: 10px;
        border-style: solid;
        border-color: red;
        margin: 5px 5px;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .medialinks {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    
    .contact {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
    }
    
    
    .info {
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
    }
    
    footer:hover {
        font-size: large;
        color: rgb(255, 255, 255);
    }
}



